/* CSS files --> abilities.html */
body{
    background-color: #A5DEE5;
}
.table-menu td:hover{
    background-color: #184cf5;
}
.table-content h2{
    background-color: rgb(255, 127, 244);
}
.table-content img:hover{
    background-color: rgb(17, 146, 233);
}
.table-menu{
    float:left;
}
.table-menu:last-child{
    padding-right:0px;
}
.table-menu a{
    color:#000000; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;
}
.table-menu a:hover{
    background-color:#b84545; color:#f8f8f4; transition: all 0.5s ease 0s;
}
.table-menu a:hover i{
    color:#f3f3ef; transition: all 0.5s ease 0s;
}
.table-menu a i{
    padding-right:10px; color:#002e5b; transition: all 0.5s ease 0s;
}
.table-skills{
    margin-left: auto; 
    margin-right: auto; 
    background-color: #FEFDCA;
}