/* CSS file --> index.html */
/* (1) Tag Selector */
body{
    background-color: #6d7099;
}
h1{
    text-align: center;
    font-family: cursive;
    /*background-color: #FCE38A;*/
}
h2{
    text-align: center;
    font-family: cursive;
    font-weight: normal;
    /*background-color: #EAFFD0;*/
}
h4{
    text-align: center;
    font-family: Aclonica;
    font-weight: normal;
}
table{
    width: 100%;
    text-align: center;
}
th{
    width: 33.33%; 
    vertical-align: top;
}
/* (2) Class Selector */
.p-Aboutme{
    font-weight: normal; 
    text-align: justify;
}
.p-Name{
    font-weight: normal;
}
.p-Footer{
    text-align: center;
}
.name{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: rgb(146, 235, 73);
}
/* (3) Id Selector */
#th-Details{
    text-align: left;
}
 
/* div */
.top-container{
    background-color: rgb(98, 155, 240);
}
.table-menu td:hover{
    background-color: #184cf5;
}
.table-content h2{
    background-color: rgb(255, 127, 244);
}
.table-content img:hover{
    background-color: rgb(17, 146, 233);
}
.table-menu{
    float:left;
}
.table-menu:last-child{
    padding-right:0px;
}
.table-menu a{
    color:#000000; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;
}
.table-menu a:hover{
    background-color:#b84545; color:#f8f8f4; transition: all 0.5s ease 0s;
}
.table-menu a:hover i{
    color:#f3f3ef; transition: all 0.5s ease 0s;
}
.table-menu a i{
    padding-right:10px; color:#002e5b; transition: all 0.5s ease 0s;
}